.spinner {
  margin: auto;
}

.error {
  color: red;
}

.btn-secondary {
  margin-bottom: 10px;
  background-color: #d2a887 !important;
  color: white !important;
  border-color: #e0a97e !important;
}

.play-button:hover  {
  background-color: #d2a887 !important;
  color: white !important;
  border-color: #e0a97e !important;
}

<<<<<<< HEAD
.title-game-1 {
=======
.title-game-1{
>>>>>>> 6fdf6b52e190ce93f6d4d3d581c50078567bf3f2
  display: block;
}