.spinner {
  margin: auto;
}

.error {
  color: red;
}

.btn-secondary {
  margin-bottom: 10px;
  background-color: #d2a887 !important;
  color: white !important;
  border-color: #e0a97e !important;
}

.play-button:hover  {
  background-color: #d2a887 !important;
  color: white !important;
  border-color: #e0a97e !important;
}

<<<<<<< HEAD
.title-game1{
=======
.title-game-1 {
>>>>>>> c5c2d12a28f0e53fcbd99d795ba2e482fbc6303e
  display: block;
}