img {
    display: inline-block;
    height: 200px;
    width: 200px;
    /* padding: 0 20px; */
    margin: 20px 20px;
}

.correct{
    border: 5px solid green
}

.incorrect{
    border: 5px solid red
}