.App {
  text-align: center;
  background-color: bisque
}

.dogs-list ul {
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
  list-style-type: none;
}
.dog-breed-images img {
  max-width: 250px;
  padding: 10px;
}

.spinner {
  margin: auto;
}

.error {
  color: red;
}