@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

.App {
  padding: 30px;
  text-align: center;
  background-color: bisque;
  font-family: 'Abel', sans-serif;
  text-transform: capitalize;
  font-size: 1.3em;
  border: 20px solid #a0603c75;
}

.dogs-list ul {
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
  list-style-type: none;
}
.dog-list:link {
  text-decoration: none;
  color: white;
}
.dog-breed-images img {
  max-width: 250px;
  padding: 10px;
}

.spinner {
  margin: auto;
}

.error {
  color: red;
}

.btn-secondary {
  margin-bottom: 10px;
  background-color: #d2a887 !important;
  color: white !important;
  border-color: #e0a97e !important;
}

.play-button:hover  {
  /* color: ; */
  background-color: #d2a887 !important;
  color: white !important;
  border-color: #e0a97e !important;
}