@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

.App {
  padding: 30px;
  text-align: center;
  background-color: bisque;
  font-family: 'Abel', sans-serif;
  text-transform: capitalize;
  font-size: 1.3em;
  border: 20px solid #a0603c75;
}

.dogs-list ul {
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
  list-style-type: none;
}
.dog-breed-images img {
  max-width: 250px;
  padding: 10px;
}

a {
  color: #3b3a3a !important;
}

a:hover {
  color: #835f44 !important;
  text-decoration: none !important;
  font-weight: bold !important;
}

.btn-outline-secondary {
  color: #574131 !important;
  border-color: #644934 !important;
  margin: 10px;
}

.title-game-1 {
  display: block;

}